body {
    margin: 0;
}

main {
    background-color: #fff;
}

@keyframes parallax {
    to {transform: translateY(200%);}
}

header img {
    width: 100%;
    animation: parallax linear;
    animation-timeline: scroll();
    position: relative;
    z-index: -1
}

.links {
    .card-img-overlay {
        background-color:rgba(65, 128, 109, 0.6);
        span {
            color: white;
            font-size: 500%;
            font-weight: 500;
        }
    }
}

.card {
    transform: scale(1);
    transition-duration: .25s;
}

.card:hover {
    transform: scale(1.05);
    transition-duration: .25s;
}

.contact img {
    width: 48px;
    filter: brightness(50%);
}

.other img {
    filter: brightness(50%);
    width: 128px;
    transform: scale(1);
    transition-duration: .25s;
}

.other img:hover {
    width: 128px;
    transform: scale(1.10);
    transition-duration: .25s;
}

footer {
    overflow: hidden;
    position: relative;
    color: white;
    background-color: rgba(112, 112, 0, 0.75);

    .footer-bg {
        position: absolute;
        width: 100%;
        z-index: -1;
    }

    img {filter: brightness(100%);}
    .text-start img {width: 32px;}
    .text-end img {width: 64px;}

    a {
        text-decoration: none;

        img {
            transform: scale(1);
            transition-duration: .25s;
        }
        img:hover {
            transform: scale(1.1);
            transition-duration: .25s;
        }
    }
}
